{% extends 'base.html.twig' %}

{% block body %}
	<br>
	<br>
	<br>

	<br>
	<br>
	<br>
	<br>

	<div>
	   {% if error %}
		<table>
			<th>Erreur
			</th>

			<td>
				
				<h3 style="background-color: red;">
					{{error}}</h3>

			</td>


		</table>
		 {% endif %}



		 {% for message in app.flashes('success') %}
	 	<div class="alert alert-success">
	 		{{ message }}
	 	</div>
	 {% endfor %}
	 {% for message in app.flashes('error') %}
	 	<div class="alert alert-danger">
	 		{{ message }}
	 	</div>
	 {% endfor %}

	</div>
<br><br>
<div class="card col-lg-6" style="margin-left:30%;">
	{% set sum = 0 %}
	{% for product in produits %}

		{% set sum = sum +  product.produit.prix * product.quantity %}

		<div class="product-widget">
			<div class="product-img">
				<img src="{{asset('Assets/img/product01.png')}}" alt="">
			</div>
			<div class="product-body">
				<h3 class="product-name">

					{{product.produit.nom}}
					{% if product.produit.photo %}
						{% set imageUrl = vich_uploader_asset(product.produit, 'imageFile') %}
						<img style="width:50px;" src="{{ asset(imageUrl) }}" alt="img"/>
					{% endif %}

				</h3>
				<h4 class="product-price">
					<span class="qty">
						{{product.quantity}}
						x</span>
					{{product.produit.prix}}
					DT
				</h4>
				<h5>TOTAL: DT
					{{product.quantity * product.produit.prix}}
				</h5>


				{% if product.quantity > product.produit.quantite %}
					<h3 style="background-color: red;">
						Available quantity =
						{{ product.produit.quantite }}</h3>
				{% endif %}
				{% set addToCartPath = path('app_cart_addscript', {'id': product.produit.id}) %}

				<a class="btn btn-success" href={{addToCartPath}}>
					add one</a>


				{% set removefromCartPath = path('app_cart_removescript', {'id': product.produit.id}) %}
				<a class="btn btn-danger" href={{removefromCartPath}}>
					remove one</a>


			</div>
			{# <button class="delete">
														<i class="fa fa-close"></i>
													</button> #}
		</div>
	{% endfor %}






	<div class="cart-summary">
		<small>
			{{ produits|length }}
			Item(s) selected</small>
		<h5>SUBTOTAL:
			{{sum}}  DT
		</h5>
	</div>

	<form action="{{ path('app_cart_confirm') }}" method="post">
		<label for="destination">Destination:</label>
		<input class="form-control col-md-6" type="text" name="destination" id="destination">

		<div class="mt-3 mb-3"><button class="btn btn-primary" type="submit">Payment Process
		</button></div>
		
	</form>
</div>

{# <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Paiment </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{
    form(paymentForm)
}}
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div> #}

<br><br><br>

{% endblock %}
