{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit EventType{% endblock %}

{% block body %}
    <h1>Edit EventType</h1>

    {{ include('event_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_type_index') }}">back to list</a>

    {# {{ include('event_type/_delete_form.html.twig') }} #}

<form method='POST' action="{{ path('app_event_delete_page', {'id': id}) }}">
<input name="id" value=" {{id}} " hidden>
<button action="Submit"> Supprimer</button>


</form>


{% endblock %}
