{% extends 'baseAdmin.html.twig' %}

{% block title %}EventType index{% endblock %}

{% block body %}
    <h1>EventType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event_type in event_types %}
            <tr>
                <td>{{ event_type.id }}</td>
                <td>{{ event_type.libelle }}</td>
                <td>
                    <a href="{{ path('app_event_type_show', {'id': event_type.id}) }}">show</a>
                    <a href="{{ path('app_event_type_edit', {'id': event_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_events_index') }}">back to event</a>
    <br></br>

    <a href="{{ path('app_event_type_new') }}">Create new</a>
{% endblock %}
