{% extends 'baseAdmin.html.twig' %}

{% block title %}Store index{% endblock %}

{% block body %}
    <h1>Store index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Location</th>
                <th>Photo</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td>{{ store.id }}</td>
                <td>{{ store.nom }}</td>
                <td>{{ store.location }}</td>
                <td>
                    {% if store.photo is not empty %}
                        <img src="{{ asset('' ~ store.photo) }}" alt="{{ store.nom }} photo">
                    {% endif %}
                </td>
                <td>{{ store.categorie.libelle }}</td>
                <td>
                    <a href="{{ path('app_store_show', {'id': store.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
