{% extends 'base.html.twig' %}

{% block title %}Add Reclamation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-wEwduWR2cKjEE0eZCjTYLHvR9yB32N1YYb2Gbwj7DL8=" crossorigin="anonymous" />
{% endblock %}

{% block body %}
    <div class="container">
    {% if app.flashes('error') %}
    *
{% endif %}
        <h1 class="text-center mb-5">Add Reclamation</h1>

        {{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data', 'class': 'needs-validation' }, 'novalidate': 'novalidate' }) }}
        <div class="form-group">
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description, { 'attr': { 'class': 'form-control', 'placeholder': 'Enter a description' } }) }}
            <div class="invalid-feedback">
                Please enter a description with at least 3 words.
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.type, 'Type') }}
            {{ form_widget(form.type, { 'attr': { 'class': 'form-check-input' } }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.image, 'Image (JPEG, PNG, or GIF file)') }}
            {{ form_widget(form.image, { 'attr': { 'class': 'form-control-file' } }) }}
        </div>
        <button type="submit" class="btn btn-primary">Reclamer</button>
        {{ form_end(form) }}

        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success mt-3">{{ flash_message }}</div>
        {% endfor %}
   

    
{% endblock %}
