{% extends 'baseAdmin.html.twig' %}

{% block title %}Add Reclamation Type{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Add Reclamation Type</h1>

                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.nom, 'Name:', {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Add Reclamation Type</button>
                    {{ form_end(form) }}

                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success mt-4">{{ flash_message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
