{% extends 'baseAdmin.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
<br></br>
<br></br>
<br></br>
<br></br>


    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>ImageEv</th>
                <th>LieuEv</th>
                <th>TitreEv</th>
                <th>DescEv</th>
                <th>NbMax</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : '' }}</td>
                {% if evenement.imageEv %}
                            {% set imageUrl = vich_uploader_asset(evenement, 'imageFile') %}
                            <td><img style="width:50px;" src="{{ asset(imageUrl) }}" alt="img" /></td>
                            {% endif %}
                <td>{{ evenement.lieuEv }}</td>
                <td>{{ evenement.titreEv }}</td>
                <td>{{ evenement.DescEv }}</td>
                <td>{{ evenement.nbMax }}</td>
                <td>
                    <a href="{{ path('app_event_detail', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>
                     <a href="{{ path('app_evenement_pdf', {'id': evenement.id}) }}">pdf</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <a href="{{ path('app_event_type_new') }}">back to EventType</a>
    <br></br>


    <a href="{{ path('app_evenement_new') }}">Create new</a>
{% endblock %}
