{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}

<br><br><br><br><br><br><br><br><br><br><br>
<h1>Store</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ store.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ store.nom }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ store.location }}</td>
        </tr>
        {% if store.photo is not empty %}
        <tr>
            <th>Photo</th>
            <td><img src="{{ asset('img/' ~ store.photo) }}" alt="{{ store.nom }} photo"></td>
        </tr>
        {% endif %}
        <tr>
            <th>Categorie</th>
            <td>{{ store.Categorie.libelle }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>
                {% if app.user.getRoles() == 'ROLE_CLIENT' %}
                    <h2>Rate this store:</h2>
                   {{ form_start(form) }}
                    {{ form_widget(form.rate, { 'attr': {'class': 'star-rating'} }) }}
                    <div class="star-rating">
                            {% set ratingValue = rating|round(1) %}
                            {% set fullStars = ratingValue|round(0, 'ceil') %}
                            {% set emptyStars = 5 - fullStars %}
                            {% for i in 1..fullStars %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% if ratingValue > fullStars %}
                                <i class="fas fa-star-half-alt"></i>
                                {% set emptyStars = emptyStars - 1 %}
                            {% endif %}
                            {% for i in 1..emptyStars %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                            <span class="rating-value">{{ ratingValue }}</span>
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {{ form_end(form) }}
                {% else %}
                    {% if rating %}
                        <div class="star-rating">
                            {% set ratingValue = rating|round(1) %}
                            {% set fullStars = ratingValue|round(0, 'ceil') %}
                            {% set emptyStars = 5 - fullStars %}
                            {% for i in 1..fullStars %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% if ratingValue > fullStars %}
                                <i class="fas fa-star-half-alt"></i>
                                {% set emptyStars = emptyStars - 1 %}
                            {% endif %}
                            {% for i in 1..emptyStars %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                            <span class="rating-value">{{ ratingValue }}</span>
                        </div>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% if app.user.getRoles() == 'ROLE_PARTNER' %}
    <a href="{{ path('app_store_edit_partner', {'id': store.id}) }}">Edit</a>
{% endif %}


{% endblock %}

