{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<br><br><br><br><br>

<div class="limiter">
		<div class="container-login101">
			<div class="wrap-login100">
           
				<div class="login100-pic js-tilt" data-tilt>
                <hr><hr><hr><hr><hr><hr><hr><hr><hr>
					<img class="imgLogin" src="{{ asset('LoginAssets/images/login2.png')}}" alt="IMG">
                <hr><hr><hr><hr><hr><hr><hr><hr><hr>     
				</div>
                

            {{ form_start(registerForm) }}

            <h4>Role Information</h4>
            {{ form_row(registerForm.roles) }}

            <hr>
            
            <h4>Personal Information</h4>
            <div class="wrap-sign100">
            {{ form_row(registerForm.nom) }}
            &nbsp;
            {{ form_row(registerForm.prenom) }}
            </div>
            <div class="wrap-sign100">
            {{ form_row(registerForm.age) }}
            {{ form_row(registerForm.adresse) }}
            </div>
            <div class="wrap-sign100">
            {{ form_row(registerForm.genre) }}
            {{ form_row(registerForm.ville) }}
            <div class="select100">
            
            </div>
            </div>
            
            
            {{ form_row(registerForm.phone) }}
            {{ form_row(registerForm.image) }}

            <hr>

            <h4>Account Information</h4>
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.password.first) }}
            {{ form_row(registerForm.password.second) }}
            

            {{ form_row(registerForm._token) }}
            <hr>
            <div class="text-center">
                {{ form_widget(registerForm.save, {'label': 'Create Account', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(registerForm) }}




			</div>
		</div>
	</div>












{% endblock %}
