{% extends 'base.html.twig' %}

{% block title %} Storeship | Join Us{% endblock %}

{% block body %}
<br><br><br><br><br>

<div class="">
		<div class="container-login101">
			<div class="wrap-login100">
           
				<div class="login100-pic js-tilt" data-tilt>
                {# <hr><hr><hr><hr><hr><hr><hr><hr><hr> #}
                <br><br><br><br><br><br><br><br><br><br><br><br>
					<img class="imgLogin" 
                        src="{{ asset('LoginAssets/images/login2.png')}}" 
                        alt="IMG" 
                        height="400"
                        width="500"
                    >
                {# <hr><hr><hr><hr><hr><hr><hr><hr><hr>      #}
				</div>
                

            {{ form_start(registerForm, {'attr': {'novalidate': 'novalidate'}}) }}

            <h4>Role Information</h4>
            {{ form_row(registerForm.roles) }}

            <hr>
            
            <h4>Personal Information</h4>
            <div class="wrap-sign100">
            {{ form_row(registerForm.nom) }}
            &nbsp;
            {{ form_row(registerForm.prenom) }}
            </div>
            <div class="wrap-sign100">
            {{ form_row(registerForm.age) }}
            {{ form_row(registerForm.adresse) }}
            </div>
            <div class="wrap-sign100">
            {{ form_row(registerForm.genre) }}
            {{ form_row(registerForm.ville) }}
            <div class="select100">
            
            </div>
            </div>
            
            
            {{ form_row(registerForm.phone) }}
            {{ form_row(registerForm.imageFile) }}

            <hr>

            <h4>Account Information</h4>
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.password.first) }}
            {{ form_row(registerForm.password.second) }}

            <h6 class="text-center">Please verify that you are not a robot !!!</h6>

            {{ form_row(registerForm.captcha) }}

            {{ form_row(registerForm._token) }}
            <hr>
            <div class="text-center">
                {{ form_widget(registerForm.save, {'label': 'Create Account', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(registerForm) }}




			</div>
		</div>
	</div>


















{# <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ form_start(registerForm) }}

            <h2>Role Information</h2>
            {{ form_row(registerForm.roles) }}

            <hr>
            
            <h2>Personal Information</h2>
            {{ form_row(registerForm.nom) }}
            {{ form_row(registerForm.prenom) }}
            {{ form_row(registerForm.age) }}
            {{ form_row(registerForm.genre) }}
            {{ form_row(registerForm.ville) }}
            {{ form_row(registerForm.adresse) }}
            {{ form_row(registerForm.phone) }}
            {{ form_row(registerForm.image) }}

            <hr>

            <h2>Account Information</h2>
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.password.first) }}
            {{ form_row(registerForm.password.second) }}
            

            {{ form_row(registerForm._token) }}
            <hr>
            <div class="text-center">
                {{ form_widget(registerForm.save, {'label': 'Register', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(registerForm) }}
        </div>
    </div>
</div> #}










{% endblock %}
