<!DOCTYPE html>
<html>
    <head>
        {# <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Colo Shop Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# we begin #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <link rel="icon" type="image/png" href="{{asset('Assets/img/icon.png')}}"> 
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}" />
 



        <title>{% block title %}Welcome!{% endblock %}</title>
       
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
{# 
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

            <!-- Bootstrap -->
            <link type="text/css" rel="stylesheet" href="{{asset('Assets/css/bootstrap.min.css')}}"/>

            <!-- Slick -->
            <link type="text/css" rel="stylesheet" href="{{asset('Assets/css/slick.css')}}"/>
            <link type="text/css" rel="stylesheet" href="{{asset('Assets/css/slick-theme.css')}}"/>

            <!-- nouislider -->
            <link type="text/css" rel="stylesheet" href="{{asset('Assets/css/nouislider.min.css')}}"/>

            <!-- Font Awesome Icon -->
            <link rel="stylesheet" href="{{asset('Assets/css/font-awesome.min.css')}}">

            <!-- Custom stlylesheet -->
            <link type="text/css" rel="stylesheet" href="{{asset('Assets/css/style.css')}}"/> #}

            {# for login page #}
	        <link rel="stylesheet" type="text/css" href="{{ asset('LoginAssets/css/main.css')}}">
{# we began #}


<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/bootstrap4/bootstrap.min.css')}}">
<link href="{{ asset('Assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/plugins/OwlCarousel2-2.2.1/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/main_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/responsive.css')}}">
{# Categories #}
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/categories_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/categories_responsive.css')}}">
{# details #}
<link rel="stylesheet" href="{{ asset('Assets/plugins/themify-icons/themify-icons.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/single_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/single_responsive.css')}}">
{# Contact #}
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/contact_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('Assets/styles/contact_responsive.css')}}">


        {% endblock %}

        {% block javascripts %}
            <!-- jQuery Plugins -->
            {# <script src="{{ asset('Assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('Assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('Assets/js/slick.min.js') }}"></script>
            <script src="{{ asset('Assets/js/nouislider.min.js') }}"></script>              
            <script src="{{ asset('Assets/js/jquery.zoom.min.js') }}"></script>
            <script src="{{ asset('Assets/js/main.js') }}"></script> #}
            {# <script>
                // set a timeout of 3 seconds before removing the alerts
                setTimeout(function() {
                    var alerts = document.querySelectorAll('.alert');
                    for (var i = 0; i < alerts.length; i++) {
                        alerts[i].style.display = 'none';
                    }
                }, 5000);
            </script> #}

    {# we began #}
        <script src="{{ asset('Assets/js/jquery-3.2.1.min.js')}}"></script>
        <script src="{{ asset('Assets/styles/bootstrap4/popper.js')}}"></script>
        <script src="{{ asset('Assets/styles/bootstrap4/bootstrap.min.js')}}"></script>
        <script src="{{ asset('Assets/plugins/Isotope/isotope.pkgd.min.js')}}"></script>
        <script src="{{ asset('Assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
        <script src="{{ asset('Assets/plugins/easing/easing.js')}}"></script>
        <script src="{{ asset('Assets/js/custom.js')}}"></script> 
        {# Categories #}
		<script src="{{ asset('Assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js')}}"></script>
        <script src="{{ asset('Assets/js/categories_custom.js')}}"></script>
        {# details #}
        <script src="{{ asset('Assets/js/single_custom.js')}}"></script>
        {# Contact #}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
        <script src="{{ asset('Assets/js/contact_custom.js')}}"></script>
         


        {% endblock %}
    </head>

    <body>
    {# {% block Header %}
            <!-- HEADER -->
                <header>
                    <!-- TOP HEADER -->
                    <div id="top-header">
                        <div class="container">
                            <ul class="header-links pull-left">
                                <li><a href="{{ path('app_home') }}"> BUY WITHOUT LIFTING A FINGER</a></li>
                             
                            </ul>
                            <ul class="header-links pull-right">

                            {% if app.user and app.user.getEtat()== 0 %}
                                {% if app.user and app.user.getRoles() == 'ROLE_CLIENT' %}
                                
                            <li><a href="{{ path('app_client') }}"><i class="fa fa-user-o"></i> {{app.user.nom}}</a></li>
                            {% endif %}
                                
                                <li><a href="{{ path('app_logout') }}"><i class='fa-solid fa-right-from-bracket'></i> Logout</a></li>
                                

                            {% else %}
                                <li><a href="{{ path('app_login') }}"><i class='fa-solid fa-right-to-bracket'></i> Sign in</a></li>
                                <li><a href="{{ path('app_registration') }}"><i class="fa fa-user-o"></i> Sign Up</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /TOP HEADER -->
                    <!-- MAIN HEADER -->
                    <div id="header">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">
                                <!-- LOGO -->
                                <div class="col-md-3">
                                    <div class="header-logo">
                                        <a href="{{ path('app_home') }}" class="logo">
                                            <img src="{{asset('Assets/img/logo3.png')}}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <!-- /LOGO -->
                              
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

                                <!-- SEARCH BAR -->
                                <div class="col-md-6">
                                    <div class="header-search">
                                        <form>
                                            <select class="input-select">
                                                <option value="0">All Categories</option>
                                                <option value="1">Category 01</option>
                                                <option value="1">Category 02</option>
                                            </select>
                                            <input class="input" placeholder="Search here">
                                            <button class="search-btn">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /SEARCH BAR -->

                                <!-- ACCOUNT -->
                                <div class="col-md-3 clearfix">
                                    <div class="header-ctn">
                                        <!-- Wishlist -->
                                        {% if app.user %}
                                         <div>
                                            <a href="#">
                                                <i class="fa fa-heart-o"></i>
                                                <span>Your Wishlist</span>
                                                <div class="qty">2</div>
                                            </a>
                                        </div>
                                        
                                        {% endif %}
                                        
                                       
                                        <!-- /Wishlist -->

                                        <!-- Cart -->
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span>Your Cart</span>
                                                <div class="qty">3</div>
                                            </a>
                                            <div class="cart-dropdown">
                                                <div class="cart-list">
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="{{asset('Assets/img/product01.png')}}" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                                        </div>
                                                        <button class="delete"><i class="fa fa-close"></i></button>
                                                    </div>

                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="{{asset('Assets/img/product02.png')}}" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                                        </div>
                                                        <button class="delete"><i class="fa fa-close"></i></button>
                                                    </div>
                                                </div>
                                                <div class="cart-summary">
                                                    <small>3 Item(s) selected</small>
                                                    <h5>SUBTOTAL: $2940.00</h5>
                                                </div>
                                                <div class="cart-btns">
                                                    <a href="#">View Cart</a>
                                                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Cart -->

                                        <!-- Menu Toogle -->
                                        <div class="menu-toggle">
                                            <a href="#">
                                                <i class="fa fa-bars"></i>
                                                <span>Menu</span>
                                            </a>
                                        </div>
                                        <!-- /Menu Toogle -->
                                    </div>
                                </div>
                                <!-- /ACCOUNT -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- container -->
                    </div>
                    <!-- /MAIN HEADER -->
                </header>
            <!-- /HEADER -->
            <!-- NAVIGATION -->
                <nav id="navigation">
                    <!-- container -->
                    <div class="container ">
                        <!-- responsive-nav -->
                        <div id="responsive-nav ">
                            <!-- NAV -->
                         <ul class="main-nav nav navbar-nav">
                            <li class="active"><a href="{{ path('app_home') }}">Home</a></li>
                            <li><a href="{{ path('app_produit') }}">Products</a></li>
                            <li><a href="{{ path('app_store') }}">Stores</a></li>
                            <li><a href="{{ path('app_about') }}">About</a></li>
                           
                        </ul>
                            <!-- /NAV -->
                        </div>
                        <!-- /responsive-nav -->
                    </div>
                    <!-- /container -->
                </nav>
            <!-- /NAVIGATION -->
    {% endblock %} #}
	
    {% block header %}
		<header class="header trans_300">

			<!-- Top Navigation -->

			<div class="top_nav">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="top_nav_left">By Without Lifting A Finger</div>
						</div>
						<div class="col-md-6 text-right">
							<div class="top_nav_right">
								<ul class="top_nav_menu">

									<!-- Currency / Language / My Account -->

									<li class="account">
										<a href="#">
											My Account
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="account_selection">
                                        {% if app.user and app.user.getEtat()==0 %}
                                        											<li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a></li>

                                        {% else %}
                                        
											<li><a href="{{ path('app_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
											<li><a href="{{ path('app_registration') }}"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a></li>
										{% endif %}
                                        </ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Main Navigation -->

			<div class="main_nav_container">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="logo_container">
								{# <img src="{{asset("Assets/images/logo3.png")}}" alt=""> #}
								<a href="{{ path('app_home') }}">Store<span>Ship</span></a>
							</div>
							<nav class="navbar">
								<ul class="navbar_menu">
									<li><a href="{{ path('app_home') }}">home</a></li>
									{# <li><a href="#">shop</a></li> #}
									<li><a href="{{ path('app_products') }}">Products</a></li>
									{# <li><a href="#">pages</a></li> #}
									<li><a href="{{ path('app_about') }}">About</a></li>
									<li><a href="{{ path('app_contact') }}">Contact</a></li>
								</ul>
								<ul class="navbar_user">
									<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                    {% if app.user and app.user.getRoles() == 'ROLE_CLIENT'%}
                                    <li><a href="{{path('app_client')}}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    
                                    {% elseif app.user and app.user.getRoles() == 'ROLE_ADMIN' %}
                                    <li><a href="{{path('app_admin')}}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
{% elseif app.user and app.user.getRoles() == 'ROLE_PARTNER' %}
                                    <li><a href="{{path('app_partner')}}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
{% else %}
                                        <li><a href="{{path('app_login')}}"><i class="fa fa-user" aria-hidden="true"></i></a></li>

                                    {% endif %}
                                    
									
									<li class="checkout">
										<a href="#">
											<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											<span id="checkout_items" class="checkout_items">2</span>
										</a>
									</li>
								</ul>
								<div class="hamburger_container">
									<i class="fa fa-bars" aria-hidden="true"></i>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>

		</header>
    {% endblock %}

    {% block body %}{% endblock %}

    {# {% block footer %}
    	<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">Hot deals</a></li>
									<li><a href="#">Laptops</a></li>
									<li><a href="#">Smartphones</a></li>
									<li><a href="#">Cameras</a></li>
									<li><a href="#">Accessories</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="{{ path('app_login') }}">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								StoreShip &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                               </span>
						
                        
                        
                    
                        
                       















						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
    
    {% endblock %} #}

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_nav_container">
                            <div class="cr">©2018 All Rights Reserverd. Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 
    {% endblock %}
     <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        
     <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

    </body>
</html>
