<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# we begin #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <link rel="icon" type="image/png" href="{{asset('Assets/img/icon.png')}}"> 


        <title>{% block title %}Welcome!{% endblock %}</title>
       
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            {# dashboard admin we begin #}

            <!-- Icons. Uncomment required icon fonts -->
            <link rel="stylesheet" href="{{ asset('DashAssets/vendor/fonts/boxicons.css')}}" />

            <!-- Core CSS -->
            <link rel="stylesheet" href="{{ asset('DashAssets/vendor/css/core.css')}}" class="template-customizer-core-css" />
            <link rel="stylesheet" href="{{ asset('DashAssets/vendor/css/theme-default.css')}}" class="template-customizer-theme-css" />
            <link rel="stylesheet" href="{{ asset('DashAssets/css/demo.css')}}" />

            <!-- Vendors CSS -->
            <link rel="stylesheet" href="{{ asset('DashAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')}}" />

            <link rel="stylesheet" href="{{ asset('DashAssets/vendor/libs/apex-charts/apex-charts.css')}}" />

            <!-- Page CSS -->

            <!-- Helpers -->
            <script src="{{ asset('DashAssets/vendor/js/helpers.js')}}"></script>

            <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
            <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
            <script src="{{ asset('DashAssets/js/config.js')}}"></script>

        {% endblock %}

        {% block javascripts %}
   
        {# Dash we begin #}
                <!-- Core JS -->
            <!-- build:js assets/vendor/js/core.js -->
            <script src="{{ asset('DashAssets/vendor/libs/jquery/jquery.js')}}"></script>
            <script src="{{ asset('DashAssets/vendor/libs/popper/popper.js')}}"></script>
            <script src="{{ asset('DashAssets/vendor/js/bootstrap.js')}}"></script>
            <script src="{{ asset('DashAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')}}"></script>

            <script src="{{ asset('DashAssets/vendor/js/menu.js')}}"></script>
            <!-- endbuild -->

            <!-- Vendors JS -->
            <script src="{{ asset('DashAssets/vendor/libs/apex-charts/apexcharts.js')}}"></script>

            <!-- Main JS -->
            <script src="{{ asset('DashAssets/js/main.js')}}"></script>

            <!-- Page JS -->
            <script src="{{ asset('DashAssets/js/dashboards-analytics.js')}}"></script>

            <!-- Place this tag in your head or just before your close body tag. -->
            <script async defer src="https://buttons.github.io/buttons.js"></script>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


            <script>
                // set a timeout of 3 seconds before removing the alerts
                setTimeout(function() {
                    var alerts = document.querySelectorAll('.alert');
                    for (var i = 0; i < alerts.length; i++) {
                        alerts[i].style.display = 'none';
                    }
                }, 5000);
            </script>


        {% endblock %}
    </head>


    
    <body>
    {% block header %}{% endblock %}
 <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{{ path('app_home') }}" class="app-brand-link">
              <span class="app-brand-logo demo">
               {# <img src="{{asset('Assets/img/logo3.png')}}" alt=""> #}
              </span>
              {# <span class="app-brand-text demo menu-text fw-bolder ms-2">StoreShip</span> #}
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active mt-3">
              <a href="{{ path('app_admin') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Pages</span>
            </li>

            <li class="menu-item">
              <a href="{{ path('app_users') }}" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Liste des utilisateurs</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="{{ path('app_partners') }}" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Account Settings">Liste des demandes partenaires</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="{{ path('app_commande_admin') }}" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Account Settings">Liste des commandes</div>
              </a>
            </li>

               <li class="menu-item">
              <a href="{{ path('app_detailcommande_admin') }}" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="Account Settings">Liste Details Commandes</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-copy"></i>
                <div data-i18n="Account Settings">Liste des produits approvés</div>
              </a>
            </li>
            
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              {# <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div> #}
              <!-- /Search -->
                {% if app.user %}
                    <div class="" style="color:black;">
                        You are logged in as {{ app.user.nom }} {{ app.user.prenom }}
                    </div>
                {% endif %}

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ asset('DashAssets/img/avatars/1.png')}}" alt class="w-px-40 h-auto rounded-circle" />

                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">
                            {{ app.user.getNom() }} {{ app.user.getPrenom() }}</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ path('app_profile') }}">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

           <!-- Content wrapper -->
          {% block body %}{% endblock %}
          <!-- Content wrapper --> 
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    </body>
</html>



