<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ evenement.titreEv }}</title>
      <style>
        .logo {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px; /* définissez la largeur de votre image */
            height: auto;
        }

         body {
            background-image: url('Assets/images/background.png');
            background-size: cover;
        }
    </style>
</head>
<body>

   <img src="{{ asset('Assets/images/logo.png') }}" alt="Logo" class="logo">
   <h1 style="color: red">{{ evenement.titreEv }}</h1>
  <p style="color: blue; font-size: 18px; font-weight: bold;">Date de début : {{ evenement.dateDebut|date('d/m/Y') }}</p>
    <p style="color: blue; font-size: 18px; font-weight: bold;">Date de fin : {{ evenement.dateFin|date('d/m/Y') }}</p>
    <p style="color: blue; font-size: 18px; font-weight: bold;">Lieu : {{ evenement.lieuEv }}</p>
  <p style="color: blue; font-size: 18px; font-weight: bold;">Description : {{ evenement.DescEv }}</p>
<p style="color: blue; font-size: 18px; font-weight: bold;">Nombre maximum de participants : {{ evenement.nbMax }}</p>
<img src="{{ simple }}" alt="QR code">

</body>
</html>