<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ evenement.titreEv }}</title>
      
    </style>
</head>
<body>
<style>
<div style=" justify-content: center">

       <style>
    * {
        font-family: Arial, sans-serif;
    }

    .card {
        margin: 0 auto;
        max-width: 1000px;
        border: 2px solid black;
        padding: 10px;
    }
/* Set a common style for all paragraphs */
p {
  font-size: 18px;
  font-weight: bold;
  color:  #245393 ;
}

/* Style the event title */
h1 {
  color: red;
}

/* Add spacing between paragraphs */
p + p {
  margin-top: 10px;
}

/* Style the QR code image */
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
 h1 {
        text-align: center;
       
    }
</style>
<div class="card" style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
<br>
  
   <h1 style="color: red">{{ evenement.titreEv }}</h1>
   <br>
  <p >Date de début : {{ evenement.dateDebut|date('d/m/Y') }}</p>
    <p>Date de fin : {{ evenement.dateFin|date('d/m/Y') }}</p>
    <p >Lieu : {{ evenement.lieuEv }}</p>
  <p>Description : {{ evenement.DescEv }}</p>
<p >Nombre maximum de participants : {{ evenement.nbMax }}</p>
<img src="{{ simple }}" alt="QR code">
</div>
</div>
</body>
</html>